.Weather {
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  margin: 40px 40px;
}

.Weather h1 {
  font-size: 22px;
  font-weight: 700;
}

.Weather .temperature {
  font-size: 60px;
  font-weight: 500;
  margin-left: 12px;
  color: rgb(100, 100, 100);
}

.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -12px;
  color: rgb(100, 100, 100);
}

.Weather ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  margin: 0;
}

.Weather .weather-data {
  color: rgb(100, 100, 100);
}
