.Weather {
  border: 1px solid rgb(222, 222, 217);
  border-radius: 10px;
  padding: 16px;
  margin: 20px 40px;
  text-shadow: -0.5px -0.5px 0px lightgrey, 0.5px -0.5px 0px lightgrey,
    -0.5px 0.5px 0px lightgrey, 0.5px 0.5px 0px lightgrey;
}

.Weather h1 {
  font-size: 22px;
  font-weight: 700;
}

.Weather .temperature {
  font-size: 60px;
  font-weight: 500;
  margin-left: 10px;
}

.Weather .unit {
  font-size: 20px;
  position: relative;
  top: -12px;
}

.Weather ul {
  list-style: none;
  padding: 0;
  font-size: 16px;
  margin: 0;
}

.Weather .weather-data {
  color: rgb(108, 108, 108);
}
